h1{background-color: rgb(255, 175, 175); color: whitesmoke;}
h2{background-color: rgb(255, 218, 218); color: white}

strong{color: rgb(250, 130, 130)}
u{color: red;}
#explain{background-color : rgb(122, 205, 205); color : whitesmoke;}

.contents{background: rgb(36, 221, 221); color: rgb(218, 231, 241);}